<!DOCTYPE html>
{% load staticfiles %}
<html>
  <head>
    <meta charset="utf-8">
    <title>Home</title>

  <link rel="stylesheet" type="text/css" href="../static/css/home.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Katibeh|Permanent+Marker" rel="stylesheet">
  </head>
  <body >

<div>

  <p id="h1"><u>Don't miss a thing!</u></p>
  <p  id="p">We realise the importance of <br> you time. We'll help you find <br>all the basic things <br> for your campus</p>
  <button type="button" class="btn btn-lg  btn-warning" onclick="window.location.href='forms/all'">View items</button>
  <button type="button" class="btn btn-lg btn-warning" onclick="window.location.href='../accounts/templates/accounts/login'">Login/Register Shopkeeper</button>
</div>


  </body>
</html>
