{% extends "base.html" %}
{% block content %}


<h1>Welcome to Hostel Management System<h1>
<!--fsdf-->
<table  cellspacing="100">
  <tr>
    <th>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">General
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="pen" id="pens">Pen</a></li>
    <li><a href="pencils" id="pencils">Pencil</a></li>
    <li><a href="sim" id="sim">Sim</a></li>
    <li><a href="notebook" id="notebook">Notebooks</a></li>
    <li><a href="sheets" id="sheets">Sheets</a></li>
    <li><a href="washing_powder" id="washing_powder">Washing powder</a></li>

  </ul>
</div>
</th>

<th>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">HMC
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="chess_boards" id="chess_boards">Chess Boards</a></li>
    <li><a href="tt_table" id="tt_tables">TT table</a></li>
    <li><a href="cricket_bats" id="cricket_bats">Cricket Bats</a></li>
    <li><a href="cricket_balls" id="cricket_balls">Cricket Balls</a></li>
    <li><a href="footballs" id="footballs">Footballs</a></li>
    <li><a href="badminton" id="badminton">Badminton Rackets</a></li>
    <li><a href="washing_machine" id="washing_machine">Washing Machine</a></li>
  </ul>
</div>
</th>
<th>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Canteen
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="chips" id="chips">Chips</a></li>
    <li><a href="snacks" id="snacks">Snacks</a></li>
    <li><a href="biscuits" id="biscuits">Biscuits</a></li>
    <li><a href="beverages" id="beverages">Beverages</a></li>
  </ul>
</div>
</th>
<th>
<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Juice Center
  <span class="caret"></span></button>
  <ul class="dropdown-menu">
    <li><a href="amul_products" id="amul_products">Amul Products</a></li>
    <li><a href="fruits" id="fruits">Fruits</a></li>
    <li><a href="soft_drinks" id="soft_drinkds">Soft Drinks</a></li>
    <li><a href="juice" id="juice">Juice</a></li>
  </ul>
</div>
</th>
</tr>
</table>
<!--split button---------------->

<!--test------------------------------------------------------------------------->

<!--test----------------------------------------------------------------------------------------->


{% endblock %}
